[Unit]
Description=Power down onboard WiFi
ConditionPathExistsGlob=/sys/class/mmc_host/mmc*

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/rpi-wifi-poweroff

[Install]
WantedBy=multi-user.target
